body {
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: max-content;
    width: max-content;
}

#data {
    width: 60%;
    margin: auto 50px;
}

#data td, th {
    width: max-content;
}

#data tr:nth-child(2) {
    background-color: greenyellow;
}

#fabrication {
    margin: 10vh auto;
}

#fabrication #titre, #fabrication #menu {
    width: 100%;
    text-align: center;
    color: black;
}

/* bloc */

#bloc {
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    height: max-content;
    width: max-content;
    border: 1px solid rgb(193, 191, 191);
    margin: 10vh auto;
    /* background-color: rgb(81, 255, 0); */
    box-shadow: 5px 5px 5px gray;
}

#bloc form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    height: 40vh;
    width: 30vw;
}
